.App {
  width: 30rem;
  max-height: 60rem;
  min-height: 30rem;
  background-color: #f7f7f7;
  border-radius: 3rem;
  box-shadow: 0 30px 50px #5553;
  padding: 3rem;
  box-sizing: border-box;
  
  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.form {
  border: 1px solid #5553;
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;

  input, button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 1rem;
  }

  button {
    opacity: 0.6;
  }
}

.flag {
  max-width: 3rem;
}