*{
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html {
    font-size: 9px;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #121214;
    max-width: 43.4rem;
    margin: 0 auto;
}

main p::first-letter {
    font-size: 4em;
    float: left;
    margin-right: 0.1em;
    font-weight: bold;
    font-family: "Mulish", sans-serif;
    color: #121214;
}

header {
    background-color: #000;
    width: 43.4rem;
    height: 7.2rem;
    display: flex;
    align-items: center;
}

header input {
    height: 3rem;
    width: 20rem;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 0.3rem;
    opacity: 90%;
    outline: none;
}

input::placeholder {
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
}

header img {
    width: 7rem;
    height: auto;
    margin-right: 2rem;
    margin-left: 2rem;
}

#user-info img {
    width: 4.8rem;
    height: 4.8rem;
    object-fit: cover;
    border: 0.2rem solid #fff;
    border-radius: 50%; 
    margin: 3.5rem;
}

main {
    max-width: 43.4rem;
}

main img {
    width: 43.4rem;
}

main h3 {
    margin: 1rem 0 1rem 0;
}

button {
    display: flex;
    gap: 1.2rem;
    outline: none;
    background: none;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 3.4rem;
}

#like {
    background-color: #065E7C;
    border: 1rem solid #065E7C;
    border-radius: 50%;
}

#deslike {
    background-color: #065E7C;
    border: 1rem solid #065E7C;
    border-radius: 50%;
}

#content {
    padding: 2.2rem;
    width: 38.2rem;
    margin-bottom: 3.9rem;
    text-align: justify;
}

aside {
    font-size: 1.4rem;
    padding: 2.2rem;
    width: 38.4rem;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 3.9rem;
}

h2 {
    margin-bottom: 3.2rem;

}

menu {
    display: block;
}

.link {
    display: flex;
    margin-bottom: 3.2rem;
}

aside a {
    text-decoration: none;
    color: #121214;
    text-align: left;
    margin-left: 1.6rem;
}

menu h4 {
    font-size: 1.8rem;
    font-weight: 700;
}

.link img {
    width: 151px;
    border-radius: 8px;
}

footer {
    background-color: #000;
    width: 43.4rem;
    height: 7.2rem; 
    display: flex;
    align-items: center;
}

footer p {
    color: #fff;
    margin: auto;
}

@media (min-width:70em) {
    body {
        display: grid;
        grid-template-areas: 
        "A A A A"
        "B B B C"
        "B B B C"
        "D D D D";
        margin: 0 auto;
        max-width: 100vw;
        align-items: start;
        gap: 10rem;
    }

    header {
        grid-area: A;
        width: 100%;
        padding: 0 7rem;

    }

    header input {
        height: 3rem;
        width: 1000px;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 0.3rem;
        outline: none;
    }

    main {
        grid-area: B;
        max-width: 80rem;
        padding-left: 10rem;
    }

    aside {
        grid-area: C;
        border: 1px solid #dedee2;
        box-shadow:  0 2px 6px 0 rgba(0,4,51,.2);
    }

    aside:hover {
        box-shadow: 0 8px 20px rgba(0, 4, 51,.2);
        transition: 0.3s;
    }

    main img {
        width: 80.3rem;
        border-radius: 8px;
    }

    #content {
        width: 80rem;
        margin-bottom: 3.9rem;
        text-align: justify;
    }

    footer {
        grid-area: D;
        width: 100%;
    }


    
}