* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: block;
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: rgb(45, 90, 141);
  color: #E1E1E6;
}

.menu {
  display: flex;
  gap: 3.2rem;
  height: 12.2rem;
  width: 100vw;
  padding: 40px 719px 40px 72px;
  align-items: center;
  flex-shrink: 0;
  color: #E1E1E6;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #E1E1E6;
}

.init {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40rem;
}

h1 {
  font-size: 4.8rem;
}

button {
  gap: .6rem;
  padding: 1.2rem 3.2rem;
  border-radius: .5rem;
  border: 2px solid #FFF;
}

.content {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  padding: 40px 719px 40px 72px;
}

.content h1 {
  margin-bottom: 1.6rem;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}