* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(#02001a, #000000);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  font-size: 18px;
  width: 40em;
  height: 40em;
  position: relative;
}

#sol {
  position: absolute;
  top: 15em;
  left: 15em;
  width: 10em;
  height: 10em;
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
  box-shadow: 0 0 3em rgb(254, 254, 92);
  cursor: pointer;
}

#sol:hover {
  box-shadow: 0 0 4em rgb(232, 232, 49);
}

#mercurio, #venus,
#terra, #lua,
#marte, #jupiter,
#saturno, #urano,
#netuno {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: .1em .1em 0 0;
  border-radius: 50%;
}

#mercurio {
  top: 13em;
  left: 13em;
  width: 14em;
  height: 14em;
}

#venus {
  top: 10em;
  left: 10em;
  width: 20em;
  height: 20em;
  animation: orbit 22.4s linear infinite;
}

#terra {
  top: 5em;
  left: 5em;
  width: 30em;
  height: 30em;
  animation: orbit 36.5s linear infinite;
}

#lua {
  top: 22px;
  right: 22px;
  width: 6em;
  height: 6em;
  animation: orbit 2.7s linear infinite;
}

#marte {
  top: -2em;
  left: -2em;
  width: 45em;
  height: 45em;
  animation: orbit 42.7s linear infinite;
}

#jupiter {
  top: -9em;
  left: -9em;
  width: 60em;
  height: 60em;
  animation: orbit 46.33s linear infinite;
}

#saturno {
  top: -19em;
  left: -19em;
  width: 80em;
  height: 80em;
  animation: orbit 57.55s linear infinite;
}

#anel {
  top: 8em;
  right: 7em;
  width: 8em;
  height: 8em;
  animation: orbit 10ms linear infinite;
  position: absolute;
  border-style: solid;
  border-color: rgb(7, 181, 187) transparent transparent transparent;
  border-width: 0 0 0 0;
  border-radius: 50%;
  box-shadow: 0 0 1.5em rgb(183, 12, 123);
}

#urano {
  top: -29em;
  left: -29em;
  width: 100em;
  height: 100em;
  animation: orbit 67.68s linear infinite;
}

#netuno {
  top: -39em;
  left: -39em;
  width: 120em;
  height: 120em;
  animation: orbit 73.16s linear infinite;
}

#mercurio::before, #venus::before,
#terra::before, #lua::before,
#marte::before, #jupiter::before,
#saturno::before, #anel::before,
#urano::before, #netuno::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

#mercurio::before {
  top: 1em;
  right: 1.5em;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(255, 0, 0);
}

#venus::before {
  top: 2em;
  right: .7em;
  width: 3em;
  height: 3em;
  background-color: rgb(173, 127, 0);
}

#terra::before {
  top: 2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-color: rgb(0, 0, 173);
}

#lua::before {
  top: .3em;
  right: .3em;
  width: 1.2em;
  height: 1.2em;
  background-color: silver;
}

#marte::before {
  top: 5.6em;
  right: 5em;
  width: 2.5em;
  height: 2.5em;
  background-color: rgb(89, 9, 9);
}

#jupiter::before {
  top: 5em;
  right: 4em;
  width: 8em;
  height: 8em;
  background-color: rgb(255, 200, 100);
}

#saturno::before {
  top: 9em;
  right: 8em;
  width: 6em;
  height: 6em;
  background-color: rgb(80, 18, 156);
}

#urano::before {
  top: 13em;
  right: 12em;
  width: 4.5em;
  height: 4.5em;
  background-color: rgb(139, 118, 222);
}

#netuno::before {
  top: 15em;
  right: 15em;
  width: 5em;
  height: 5em;
  background-color: rgb(33, 33, 74);
}

@keyframes orbit {
  to{
    transform: rotate(360deg);
  }
}